{
	"openapi": "3.0.0",
	"components": {
		"examples": {},
		"headers": {},
		"parameters": {},
		"requestBodies": {},
		"responses": {},
		"schemas": {
			"ApiResponseFormat": {
				"properties": {
					"success": {
						"type": "boolean"
					},
					"message": {
						"type": "string"
					},
					"data": {},
					"error": {
						"type": "string"
					},
					"timestamp": {
						"type": "string"
					}
				},
				"required": [
					"success",
					"message",
					"timestamp"
				],
				"type": "object",
				"additionalProperties": false
			},
			"JoinBody": {
				"properties": {
					"pseudo": {
						"type": "string"
					}
				},
				"required": [
					"pseudo"
				],
				"type": "object",
				"additionalProperties": false
			}
		},
		"securitySchemes": {
			"playerAuth": {
				"type": "http",
				"scheme": "bearer"
			},
			"adminAuth": {
				"type": "http",
				"scheme": "bearer"
			}
		}
	},
	"info": {
		"title": "Jukebox API",
		"version": "1.0.0",
		"description": "Create a group with friends, add your music, vote in real time to choose the next song, and listen to it together!",
		"license": {
			"name": "MIT"
		},
		"contact": {
			"name": "CapyBlaze",
			"email": "capyblaze@gmail.com"
		}
	},
	"paths": {
		"/search": {
			"get": {
				"operationId": "Search",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiResponseFormat"
								}
							}
						}
					}
				},
				"tags": [
					"Search"
				],
				"security": [
					{
						"playerAuth": []
					}
				],
				"parameters": [
					{
						"in": "query",
						"name": "q",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				]
			}
		},
		"/groups": {
			"post": {
				"operationId": "CreateGroup",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiResponseFormat"
								}
							}
						}
					}
				},
				"tags": [
					"Groups"
				],
				"security": [],
				"parameters": []
			}
		},
		"/groups/{id}/join": {
			"post": {
				"operationId": "JoinGroup",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiResponseFormat"
								}
							}
						}
					}
				},
				"tags": [
					"Groups"
				],
				"security": [],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/JoinBody"
							}
						}
					}
				}
			}
		},
		"/groups/{id}": {
			"get": {
				"operationId": "ListUsers",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiResponseFormat"
								}
							}
						}
					}
				},
				"tags": [
					"Groups"
				],
				"security": [],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				]
			}
		},
		"/groups/leave": {
			"delete": {
				"operationId": "LeaveGroup",
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiResponseFormat"
								}
							}
						}
					}
				},
				"tags": [
					"Groups"
				],
				"security": [
					{
						"playerAuth": []
					}
				],
				"parameters": []
			}
		}
	},
	"servers": [
		{
			"url": "https://jukebox.capyblaze.hackclub.app/"
		}
	]
}